.search-bar-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.search-bar-title {
  color: #fff;
  height: 48px;
  padding: 12px 0px;
  font-size: 26px;
}

.search-box-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.search-box-input {
  width: 60%;
  padding: 6px 11px;
  height: 32px;
  font-size: 16px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.search-box-model-selector {
  width: 20%;
  height: 48px;
  text-indent: 10px;
  -webkit-appearance: none;
  border-radius: 0px;
}

.search-box-button {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.045);
  box-shadow: 0 2px 0 rgba(0,0,0,0.045);
  width: 15%;
  height: 48px;
  padding: 6px 15px;
  font-size: 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
